<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Proyectos</a> 
  <%= link_to "Crear proyecto", projects_index_path %>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search"
    aria-label="Search" name="state">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
        <th>Estado</th>
    </tr>

    <tr>
     <% @projects.each do |project|%>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.state %></td>
    </tr>
    <% end %>
</table>